@import-normalize;


:root{
  --clr-stroke: #CECECE;
  --clr-main-text: #1A1A1A;
  --clr-secondary-text:#B8B8B8;
  --clr-bckg: #fff;
  --clr-actoin: #FF5151;
  --clr-focus: #D99A9A;
  --clr-card: #F8F8F8
}

@font-face {
  font-family: 'Fixel Text';
  font-display: swap;
  src: local('FixelText-Regular'), url('../src/styles/fonts/FixelText/FixelText-Regular.ttf') format("truetype"),
  url('../src/styles/fonts/FixelText/FixelText-Regular.woff2') format("woff2");
  font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Fixel Text';
  font-display: swap;
  src: local('FixelText-Medium'), url('../src/styles/fonts/FixelText/FixelText-Medium.ttf') format("truetype"),
  url('../src/styles/fonts/FixelText/FixelText-Medium.woff2') format("woff2");
  font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: 'Fixel Text';
  font-display: swap;
  src: local('FixelText-SemiBold'), url('../src/styles/fonts/FixelText/FixelText-SemiBold.ttf') format("truetype"),
  url('../src/styles/fonts/FixelText/FixelText-SemiBold.woff2') format("woff2");
  font-weight: 600;
	font-style: normal;
}

body {
  margin: 0;
  font-family: 'Fixel Text', sans-serif;
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   color: var(--clr-main-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ============================ */

/* Стилізація скрола для Firefox*/
html, body {
    scrollbar-color: #B8B8B8 #1A1A1A; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin;  /* толщина */
}

/* Стилізація скрола для інших браузерів*/

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 3px; /* ширина для вертикального скролла */
    height: 3px; /* высота для горизонтального скролла */
    background-color: #fff;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #B8B8B8;
    border-radius: 9em; 
   
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1A1A1A;
}

/* ========================================================= */